.site-header {
    @extend .position-fixed;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    @include media-breakpoint-up(lg) {
        padding: 14px 0;
    }

    @include media-breakpoint-only(md) {
        padding: 12px 0;
    }

    @include media-breakpoint-down(md) {
        padding: 10px 0;
    }

    &>.container-fluid {
        @extend .d-flex,
        .align-items-center,
        .justify-content-between;
    }

    .site-logo {
        @include media-breakpoint-down(lg) {
            max-width: 7.625rem;
        }
    }

    .btn {
        @extend .d-flex,
        .align-items-center,
        .justify-content-center;
        width: 11.0625rem;
        min-width: 140px;
        height: 3.25rem;
    }
}
