    /////////////////////////////////
//    Theme Primary Colors
//////////////////////////////////;
$bg-white: #ffffff;
$white: #ffffff;
$bg-primary:#0866C6;
$white-100:#F3F6FD;
$white-300:#F3F6F9;
$white-700:#F7F7F7;
$white-600:#f6f6f6;
$tabs: #959ca9;
$blue: #5678FE;
$primary-blue: #1D2939;
$secondary-blue: #00b297;

$text-primary:#343a40;
$bg-gray:#F3F6F9;
$border:rgba(0, 0, 0, 0.15);
$text-light:#AFAFAF;
$text-primary-light:rgba(39, 40, 78, 0.6);
$text-secondary:#6B6B6B;
$icon-color:#8C8C8C;
$dark-gray:#707070;
$red:#dc3545 ;
$green:#00b297 ;
$warning:#FFE11E;
$bg-green-600: #00b297  ;
$bg-blue-600: #5678FE ;

// COLOR OPACITY
/////////////////////////////////
//        FONT SIZES
//////////////////////////////////
$font96: 96px;
$font82: 82px;
$font60: 60px;
$font56: 56px;
$font54: 54px;
$font50: 50px;
$font48: 48px;
$font47: 47px;
$font44: 44px;
$font42: 42px;
$font40: 40px;
$font38: 38px;
$font37: 37px;
$font36: 36px;
$font35: 35px;
$font34: 34px;
$font33: 33px;
$font32: 32px;
$font31: 31px;
$font30: 30px;
$font29: 29px;
$font28: 28px;
$font27: 27px;
$font26: 26px;
$font25: 25px;
$font24: 24px;
$font23: 23px;
$font22: 22px;
$font21: 21px;
$font20: 20px;
$font19: 19px;
$font18: 18px;
$font17: 17px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font13: 13px;
$font12: 12px;
$font11: 11px;
$font10: 10px;
$font8: 8px;
