/* footer {
    background: linear-gradient(
        81.12deg,
        #5e17eb 0%,
        #551df7 45.31%,
        #8000ff 76.04%
    );
    padding: 72px 0 60px;
    color: #fff;
    position: relative;
    .container {
        position: relative;
        z-index: 5;
    }
    .text-content {
        .counter {
            filter: brightness(0) invert(1);
        }
        h2 {
            color: #ffffff;
            font-size: 60px;
            line-height: 68px;
        }

        p {
            color: #cdbafb;
            &.note {
                color: #cdbafb;
            }
            strong {
                font-weight: 400;
                color: #fff;
                &:before {
                    background: #ffffff;
                    opacity: 0.1;
                    bottom: 12px;
                }
            }
        }
    }
    .subscription-form {
        h4 {
            color: #ffffff;
        }
    }
    .shapefooter {
        position: absolute;
        right: 0;
        top: 51px;
    }
}

.footer-text {
    p {
        margin: 0 6px 0;
        font-size: 14px;
        line-height: 22px;
        color: #ffffff;
    }
    footer {
        padding: 60px 0;
    }
} */
